* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}




/* welcome */

.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}

.about-70 {
    width: 68%;
    box-sizing: border-box;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;

}

.tittle-about {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle-about img {
    width: 50%;
}

.tittle-about h2 {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;

}

.des-about p {
    text-align: justify;
    font-style: italic;

}

.about-30 {
    width: 29%;
    background-color: #252525;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.card-30 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    margin-top: 20px;

}

.card-30 img {
    width: 80%;
}

.card-30 h2 {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
    color: #fff;
}