/* home-footer */
.home-footer {
    width: 100%;
    height: 400px;
    background-color: #800000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.card-footer {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-cpr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-footer p {
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
}

.card-footer h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.card-footer a {
    color: #fff;
    font-size: 80%;
    padding: 0px 30px;
}

.card-footer a :hover {
    color: #252525;
    transition: 0.2s;
}

.card-footer iframe {
    width: 90%;
    border-radius: 10px;
}


/* scroll */
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #800000;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}