
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}



/* home-menu */

.home {
    width: 100%;
    background: url("/menu/assets/img/bg1.svg");
    background-repeat: no-repeat;
        
}

.home-menu {
    width: 100%;
}


.card-des {
    text-align: center;
}

.card-des h2 {
    color: #fff;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 40px;
}

.card-menu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    height: 450px;
    border-radius: 10px 10px 0 0;
    margin: 30px;
    background-color: aliceblue;
    box-shadow: 0px 16px 8px 0px rgba(0,0,0,0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.card p {
    text-align: justify;
    margin-top: 10px;
}

.card .order {
    padding: 5px 10px;
    border-radius: 10px;
    background: none;
    margin-top: 20px;
    text-align: center;
}

.card .order:hover {
    background-color: #333;
    color: #fff;
    transition: 0.2s;
}

.card .harga {
    font-size: 20px;
    font-weight: 900;
}
/* home-menu */

