* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.wrapper-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;

}

.order {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

}

.order-bg {
    width: 100%;
    height: 50vh;
    background-image: url("/order/assets/img/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(15px);
    position: relative;
    box-sizing: border-box;

}

.order-product {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}


.order-des {
    width: 35%;
}

.order-des h2 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.order-des p {
    font-weight: 800;
    font-style: italic;
}

.order-img {
    width: 35%;
}


.order-product .order-img img {
    width: 80%;

}