* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* navigasi */
.Container {
    width: 100%;
    background-color: #f9f9fa;
}

.navigasi {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background-color: #800000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    top: 0;
    position: sticky;
    z-index: 1;
}

.brand h1 {
    font-size: 24px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.menu {
    height: 100%;
}

.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.nav-list li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.nav-list li:hover {
    background-color: #a30404;
    cursor: pointer;
    transition: 0.3ms;
}

.nav-list li a {
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* navigasi */

/* home
*/

.home {
    width: 100%;

}

/* welcome */

.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #800000;
}

.welcome-des {
    width: 40%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deskripsi h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
}

.deskripsi p {
    color: #fff;
}

.button-show {
    margin-top: 20px;
}

.button-show button {
    padding: 6px 20px;
    background-color: #fff;
    color: #800000;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    text-transform: capitalize;
    font-weight: 800;
}


.button-show button:hover {
    background-color: #3333;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.2s;
}

.welcome-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 80%;
    border-radius: 5px 5px 50px 1px;
}

/* welcome */

/* home-menu */

.home-menu {
    width: 100%;
    margin-top: 80px;
}

.card-des {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.card-des h2 {
    color: #800000;
    font-weight: bold;
}

.card-des p {
    font-weight: bold;
}

.card-menu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25%;
    height: 500px;
    border-radius: 10px 10px 0 0;
    margin: 30px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 1px rgba(254, 2, 2, 0.393);
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    background-color: #800000;
    color: #fff;
    transition: 0.2s;
    box-shadow: none;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.card p {
    text-align: justify;
    margin-top: 10px;
}

/* home-menu */


/* home testimoni */

.home-testimoni {
    width: 100%;
    padding: 7% 25%;
    text-align: center;
    background-color: #800000;
    box-sizing: border-box;
}

.des-testimoni {
    margin-bottom: 50px;
}

.des-testimoni h2 {
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
}

.carousel-item img {
    margin-bottom: 50px;
}

.carousel-item h5 {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.carousel-item p {
    color: #fff;
    font-weight: 500;
    margin-top: 50px;
}

/* home testimoni */


/* home-maps */
.home-maps {
    width: 100%;
    height: 100vh;
    background-image: url("img/1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.card-maps {
    width: 40%;
}

.maps-tittle h2 {
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 30px;
}

.maps-kontak p {
    color: #fff;
    padding-left: 10px;
    font-weight: 600;
}

/* home-maps */