
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* navigasi */
.container {
    width: 100%;


}

.navigasi {
width: 100%;
height: 80px;
box-sizing: border-box;
background-color: #800000;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 30px;
top: 0;
position: sticky;
z-index: 1;
}
.brand h1 {
    font-size: 24px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.menu {
    height: 100%;
}
.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    
}

.nav-list li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

    
}

.nav-list li:hover{
    background-color: #a30404;
    cursor: pointer;
    transition: 0.3ms;
}

.nav-list li a {
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    
}

/* navigasi */


/* welcome */

.welcome {
    width: 100%;
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
}

.welcome-des {
    width: 40%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deskripsi h2 {
    font-size: 40px;
    text-transform: capitalize;
}
.button-show {
   margin-top: 20px;
}

.button-show button {
    padding: 6px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    text-transform: capitalize;
}

.button-show button:hover {
    background-color: #3333;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.2s;
}

.welcome-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img  img{
    width: 80%;
    border-radius: 5px 5px 50px 1px;
}

/* welcome */

/* home-menu */

.home-menu {
    width: 100%;
    margin-top: 80px;

}

.card-des {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.card-menu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25%;
    height: 500px;
    border-radius: 10px 10px 0 0;
    margin: 30px;
    background-color: aliceblue;
    box-shadow: 0px 16px 8px 0px rgba(0,0,0,0.1);
    padding: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.card p {
    text-align: justify;
    margin-top: 10px;
}
/* home-menu */


/* home-footer */
.home-footer {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-color: #800000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-footer {
    margin: 0px 20px;
}

.card-footer p {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
}